body {
    font-family: Arial, sans-serif;
    background-color: #c43f3f;
    padding: 20px;
}
.container {
    max-width: 500px;
    margin: auto;
    background: #1e60f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin: 10px 0 5px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #3b0a76;
    border-radius: 4px;
}
button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.error {
    color: rgb(224, 12, 12);
    font-size: 0.8em;
}